<!DOCTYPE html>
<html lang="en">

<head>
    {% block head %}
    <!-- Meta -->
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta name="description" content="">
    <meta name="author" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
    <!-- Bootstrap -->
    <link rel="stylesheet" href="/assets/bootstrap/css/bootstrap.min.css">
    <!-- Favicon -->
    <link href="/assets/img/favicon.ico" rel="shortcut icon">
    <title>{% block title %}{% endblock %} - Komersant</title>
    {% endblock %}
</head>

<body>

    <div class="container">
        <div id="app">
            {% block content %}

            {% endblock %}
        </div>
    </div>
    {% block footer %}
    <script type="text/javascript" src="/assets/bootstrap/js/jquery-3.2.1.min.js"></script>
    <script type="text/javascript" src="/assets/js/vue.min.js"></script>
    <script type="text/javascript" src="/assets/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script type="text/javascript" src="/assets/js/vue-router.js"></script>
    <script type="text/javascript" src="/assets/js/main.js"></script>
    {% endblock %}
</body>

</html>