{% extends "base.html" %}

{% import "macros/forms.html" as forms %}

{% block title %}Home{% endblock %}

{% block content %}
<div class="row">
  <div class="col-md-4 mt-5">
      <p class="text-center">
          <router-link to="/first">Перейти к PHP</router-link>
      </p>

  </div>
  <div class="col-md-4 mt-5">
      <p class="text-center">
          <router-link to="/second">Перейти к XML</router-link>
      </p>
  </div>
  <div class="col-md-4 mt-5">
      <p class="text-center">
          <router-link to="/third">Перейти к MySQL</router-link>
      </p>
  </div>
</div>

<!-- отображаем тут компонент, для которого совпадает маршрут -->
<router-view>

</router-view>

{# forms.vueval('taskId') #}

{% endblock %}

{% block footer %}
{{ parent() }}
{% endblock %}
